@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #ffffff;
  --color-base-200: #f2f4f8;
  --color-base-300: #001931;

  --color-primary: #2563eb;
  --color-primary-gradient: linear-gradient(to right, #632ee3, #9f62f2);
  --color-secondary: #7c3aed;
  --color-accent: #627382;
  --color-neutral: #6b7280;

  --color-info: #3b82f6;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  --color-base-100: #0f172a; /* Main dark background */
  --color-base-200: #1e293b; /* Slightly lighter */
  --color-base-300: #334155; /* Card / elevated surfaces */
  --color-base-content: #ffffff;
  --color-primary: #3b82f6; /* Bright blue for contrast */
   --color-primary-content: #ffffff;
  --color-secondary: #a78bfa; /* Softer purple (good contrast) */
  --color-secondary-content: #ffffff;
  --color-accent: #94a3b8; /* Muted accent for dark mode */
  --color-accent-content: #ffffff;
  --color-neutral: #cbd5e1; /* Neutral gray for text */
  --color-neutral-content: #ffffff; /* Text color for dark mode */

  --color-info: #60a5fa;
  --color-success: #4ade80;
  --color-warning: #facc15;
  --color-error: #f87171;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="light"] body {
    @apply bg-base-200;
  }
  [data-theme="dark"] body {
    @apply bg-base-200;
  }
}

* {
  font-family: "Inter", sans-serif;
}
/* .text-gradient {
  @apply bg-linear-to-br from-primary to-secondary text-transparent bg-clip-text;
}
.btn-primary {
  @apply bg-primary text-white bg-linear-to-br from-[#632EE3] to-[#9F62F2] hover:from-indigo-700 hover:to-violet-700 transition duration-300 ease-in-out border-0 px-7 py-3;
}

.btn-outline-gradient {
  @apply relative inline-flex items-center justify-center 
         px-7 py-3 rounded-lg font-medium
         bg-transparent text-primary border border-transparent
         transition-all duration-300 shadow-none ease-in-out overflow-hidden;
} */

/* .btn-outline-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(to right, #632ee3, #9f62f2);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.btn-outline-gradient:hover {
  @apply text-white transition duration-300 ease-in-out;
  background: linear-gradient(to right, #9f62f2, #632ee3);
} */

